@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Regular.ttf) format("truetype");
}

html, body {
  box-sizing: border-box;
  margin: 0;

  &::-webkit-scrollbar {
    width: 16px;
  }
  &::-webkit-scrollbar-track {
    padding: 1rem .2rem;   
    background-color: #eee;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #b14545;  
    // border-radius: 20px;   
    border: 4px solid #eee; 
  }

  &[theme="moon"] {
    &::-webkit-scrollbar-track {
      background-color: #161616;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #eeeeee;    
      border: 5px solid #161616; 
    }
  }
}

#page {
  font-family: Montserrat;
  font-size: 15px;
  line-height: 25px;
  background-color: #f0dede;
  width: 100%;
  transition: background-color 0.5s ease;
  color: #161616;

  &[theme="moon"] {
    background-color: #111111;
  }
}