@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Regular.ttf) format("truetype");
}

html, body {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: Montserrat;
  font-size: 15px;
  line-height: 25px;
}

#page {
  background-color: #f0dede;
  width: 100%;
  transition: background-color 0.5s ease;
  color: #161616;

  &[theme="moon"] {
    background-color: #111111;
  }
}